
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #1d1f21;
  color: #c5c8c6; 
  font-family: 'Press Start 2P', sans-serif; 
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
